<div class="content-layout">
    <div class="profile-edit-page">
      <form class="profile-edit-form" [formGroup]="editForm">
        <div class="profile-edit-page-title">Edit page</div>
        <label class="edit-label">First name:</label>
        <input type="text" class="form-control" formControlName="firstName">
    
        <label class="edit-label">Last name:</label>
        <input type="text" class="form-control" formControlName="lastName">

        <label class="edit-label">Email:</label>
        <input type="email" class="form-control" formControlName="email">
    
        <label class="edit-label">Gender:</label>
        <select name="gender" class="form-control" formControlName="gender">
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
    
        <label class="edit-label">Date of birth:</label>
        <input type="text" class="form-control" placeholder="dd/mm/yyyy" formControlName="dateOfBirth">
    
        <label class="edit-label">City:</label>
        <input type="text" class="form-control" formControlName="city">
    
        <label class="edit-label">Country:</label>
        <input type="text" class="form-control" formControlName="country">
<!--     
        <label class="edit-label">Avatar:</label>
        <input type="file" class="form-control" id="formFile"> -->
    </form>
      <div class="submit-div">
        <button class="btn btn-success submit">Submit</button>
      </div>
    </div>
</div>