.left{
    margin-left: 50px;
}
.left a {
    text-decoration: none;
    color: grey;
}
.right{
    display: block;
    width: auto;
}
ul li{
    display: inline;
    margin-right: 20px;
}
.logo-title {
    font-size: 30px;
    font-weight: bold;
}
.list-inline {
    margin: 0px;
}