<div class="menu">
  <ol class="menu-ol" *ngIf="token">
    <li class="menu-item" (click)="gotoMyProfile()">
        <i class="fas fa-user fa-2x"></i>
        <span class="menu-item-text">My Profile</span>
    </li>
    <li class="menu-item" [routerLink]="'new-post'">
        <i class="fas fa-plus-circle fa-2x"></i>
        <span class="menu-item-text">New post</span>
    </li>
    <li class="menu-item" [routerLink]="'feed'">
        <i class="fas fa-newspaper fa-2x"></i>
        <span class="menu-item-text">Feed</span>
    </li>
    <li class="menu-item" [routerLink]="'follow/followers'">
        <i class="fas fa-users fa-2x"></i>
        <span class="menu-item-text">Followers</span>
    </li>
    <li class="menu-item" [routerLink]="'follow/followings'">
        <i class="fas fa-users fa-2x"></i>
        <span class="menu-item-text">Followings</span>
    </li>
    <li class="menu-item" [routerLink]="'settings'">
        <i class="fas fa-sliders-h fa-2x"></i>
        <span class="menu-item-text">Settings</span>
    </li>
</ol>
</div>