/* 
#28A745 - green success button
#218838 - green success button hover
*/

.header{
    background-color: lightgreen;
}
.header-layout{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 1000px;
    margin: 0px auto;
}
.page {
    display: flex;
    justify-content: center;
    background-color: #EDEEF0;
    height: 94vh;
}
.page-layout {
    display: flex;
    margin: 20px 0px;
    width: 1000px;
}
.menu-layout {
    width: 200px;
    margin-right: 10px;
}
.content-layout {
    width: 800px;
}