.feed-container{
    display: block;
}
.type{
    background-color: lightgreen;
    padding:10px;
    margin-right: 10px;
    cursor: pointer;
}
.sort-types {
    display: flex;
    margin-left: 15px;
}